.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  opacity: 0.85;
}

.avatar{
 border-radius : 50%;
}

.button1 {background-color: #ea6f5a;  width: 50%;}
.button2 {background-color: #ea6f5a;  width: 100%;} 